<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <title>Edit Your Profile</title>
</head>
<body>
    <h1>Edit Your Profile</h1>
    <h2>//get username from mongo here</h2>
    <form action="/edit-profile" method="POST">
        
        <p>Current email: {{ email }}</p>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ email }}"><br><br>
        <input type="submit" value="Submit">
    </form>
    <a href="/">Back to Home</a>
</html>