<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <title>Settings</title>
</head>
<body>
    <h1>Settings</h1>
    <form action="/settings" method="POST">
        <p>Current username: {{ username }}</p>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ username }}"><br><br>
        <p>Current email: {{ email }}</p>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ email }}"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
    <a href="/">Back to Home</a>
</html>